<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación de Tarjeta</title>
    <link href="./static/css/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Confirmar Eliminación de Tarjeta</h1>
        <p>¿Estás seguro de que deseas eliminar la tarjeta de {{ tarjeta.nombre_titular }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'lista_tarjetas.html' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
