<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/GroundZero.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroundZero</title>
    <link rel="stylesheet" href="./static/css/css/bootstrap.min.css">
</head>
<body style="background-color:#EEEDEC;">

    <!-- inicio del nav -->
    <nav class="navbar sticky-top navbar-expand-lg " style="background-color: #e0dedd;" >
        <div class="container-fluid divini ">
          <img class="logo" src="./static/img/imagenes/DefGroundZero.png">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Menú<span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item li-style ul-principal">
                <a class="nav-link  active " aria-current="page" href="{% url 'GroundZeroInicio.html'%}">Inicio</a>
              </li>
              <li class="nav-item li-style">
                <a class="nav-link active" aria-current="page" href="{% url 'GroundZeroArtistas.html'%}">Artistas</a>
              </li>
              <li class="nav-item dropdown li-style">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'GroundZeroCuadros.html'%}">Cuadros</a></li>
                  <li><a class="dropdown-item" href="{% url 'GroundZeroEsculturas.html'%}">Esculturas</a></li>
                  <li><a class="dropdown-item" href="{% url 'GroundZeroOrfebreria.html'%}">Orfebreria</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'GroundZeroInicio.html'%}">Trabajos mejor valorados</a></li>
                </ul>
              </li>
              <form class="d-flex" role="search" style="margin-left: 30px;">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline" type="submit"><img  src="./static/img/imagenes/search.svg"></button>
              </form>
              </ul>
          </div>
          <a class="btn btn-light" href="{% url 'GroundZeroLogin.html'%}" target="_blank" role="button" style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 30px; --bs-btn-font-size: 12px; margin-right: 20px;font-family: sans-serif;">Login</a>
          <a class="btn btn-secondary" href="{% url 'GroundZeroRegister.html'%}" target="_blank" role="button" style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 15px; --bs-btn-font-size: 12px;margin-right: 20px;font-family: sans-serif;">Registrarse</a>   
          <button type="button" class="btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Puedes comprar sin estar registrado">
            <img src="./imagenes/info-circle.svg" alt="">
          </button>
          <a class="btn" href="{% url 'GorundZeroCompra.html'%}" role="button" style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 15px; --bs-btn-font-size: 12px;margin-right: 20px;font-family: sans-serif;background-color: #00CC99;padding-left: 20px;padding-right: 20px;margin-left: 16px;"><img src="./imagenes/cart-fill.svg" alt=""></a>   
        </div>
      </nav>
      <!-- final de nav -->
   
      <br>
      <div class="container-fluid">
        <div>
            <h1 class="h1-2"><i>Esculturas de nuestra Galeria</i></h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit rem commodi, doloremque ducimus nobis cumque explicabo molestiae praesentium numquam quae, officiis dolorum quis vel pariatur ex quod laboriosam sunt dolores!</p>
          </div>
    </div>

      <div class="container-fluid" style="background-color:#E3E3E3; padding-top: 40px;">
        <div class="row" style="padding-top: 10px;padding-bottom: 10px;" >
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 1</h5>
                <p class="card-text">texto de ejemplo largo, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus maiores, unde autem quibusdam sapiente sint illo praesentium culpa labore natus neque doloribus voluptas blanditiis optio rerum repellat odit quod!</p>
                <a href="{% url 'GorundZeroCompra.html'%}" target="_blank" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 2</h5>
                <p class="card-text">Texto de ejemplo largo, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit nesciunt commodi beatae ratione pariatur eos neque maxime, obcaecati fugit repellat ullam placeat iusto</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 3</h5>
                <p class="card-text">Texto de ejemplo largo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis pariatur, a minima consequatur suscipit quos, impedit asperiores rerum non quidem fuga dolores id optio similique totam eligendi itaque minus! Aperiam.</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 4</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid at quidem praesentium unde.</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;padding-bottom: 10px;" >
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 1</h5>
                <p class="card-text">texto de ejemplo</p>
                <a href="{% url 'GorundZeroCompra.html'%}" target="_blank" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 2</h5>
                <p class="card-text">Texto de ejemplo largo, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo suscipit nesciunt commodi beatae ratione pariatur eos neque maxime, obcaecati fugit repellat ullam placeat iusto</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 3</h5>
                <p class="card-text">Texto de ejemplo largo, Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis pariatur, a minima consequatur suscipit quos, impedit asperiores rerum non quidem fuga dolores id optio similique totam eligendi itaque minus! Aperiam.</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-xl-3">
            <div class="card" style="width: 18rem;">
              <img src="./static/img/imagenes/escult4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Escultura 4</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid at quidem praesentium unde.</p>
                <a href="{% url 'GorundZeroCompra.html'%}" class="btn" style="background-color: #00CC99;">Comprar</a>
              </div>
            </div>
          </div>
        </div> 
    </div>
    
      <!-- inicio footer -->
      <footer>
        <div class="container-fluid" style="background-color: #AEB6BF;">
          <div class="row">
            <div class="col-4" style="margin-top: 20px;">
              <h5>¿En qué te podemos ayudar?</h5>
              <hr>
              <ul class="ul-no-bullet">
                <li>
                  Informaciones
                </li>
                <li>
                  preguntas frecuentes
                </li>
                <li>
                  Referencias
                </li>
              </ul>
            </div>
            <div class="col-4"style="margin-top: 20px;">
              <h5>Siguenos en nuestras redes sociales</h5>
              <hr>
              <ul class="ul-no-bullet">
                <li>
                  Facebook <a href=""><img src="./static/img/imagenes/facebook.svg" alt=""></a>
                </li>
                <li>
                  X (Antes Twitter) <a href=""><img src="./static/img/imagenes/twitter-x.svg" alt=""></a>
                </li>
                <li>
                  Instagram <a href=""><img src="./static/img/imagenes/instagram.svg" alt=""></a>
                </li>
                <li>
                  Whatsapp <a href=""><img src="./static/img/imagenes/whatsapp.svg" alt=""></a>
                </li>
              </ul>
            </div>
            <div class="col-4"style="margin-top: 20px;">
              <h5>¿En qué te podemos ayudar?</h5>
              <hr>
              <ul class="ul-no-bullet">
                <li>
                  Informaciones
                </li>
                <li>
                  preguntas frecuentes
                </li>
                <li>
                  Referencias
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- inico del footer -->
      <script src="./static/js/js/bootstrap.bundle.min.js"></script>
    </body>
</html>